#background1 {
  border:solid;
  border-radius: 15px;
  border-color:black;
  background-color: #ebfafa;
  background: rgba(51, 204, 204, 0.5);
  min-height:2400px;
  max-height: 99999px;
  min-width:355px;


}
#divider  {
  padding-bottom:500px;
  border:none;
}
#ChrisESmith  {
  /*max-width:250px;*/
  max-width:inherit;
  max-height:inherit;
  height:inherit;
  width:inherit;
}


div div {
  margin:20px;
  padding:15px;
  max-width:300px;
  height:300px; /*If this was min height, it would cause the text to be displayed inside.*/
  border: 3px solid black;
  float:left;

  padding-bottom:0px;
  margin-bottom:0px;
  position: static;
}
body {
  margin-left:30px;
  margin-top:60px;
  margin-right:30px;



  /*border:solid;
  border-radius: 15px;
  border-color:black;*/
  /*background-color: #ebfafa;
  background: rgba(51, 204, 204, 0.5);*/
}

.pikachu  {
  background-color: #cccc00;
  margin-bottom:200px;
  /*max-width:250px;
  max-height:250px;*/


}
.charizard  {
  background-color: #cc5200;
  margin-bottom:200px;
}
.blastoise  {
  background-color: #3366ff;
  margin-bottom:200px;
}
.venusaur {
  background-color: #009933;
  margin-bottom:200px;
}
.haunter  {
  background-color: #660066;
  margin-bottom:200px;
}
.porygon  {
  background-color: #b30000;
  margin-bottom:200px;
  position:static;
}

div div div {
  border:none;
  position:static;
}
html {
    background: url(images/clouds_epic.jpeg) no-repeat center fixed;
    background-size: cover;
}
